.ipynb_checkpoints/
./ipynb_checkpoints/
# Project file
.idea
.vscode
.DS_Store
wandb/

# Test file
__pycache__/
venv

# Run file
data/
log/
checkpoint/
outputs/
pred/
mlruns/
train/.pytest_cache/
.coverage
htmlcov/
